.section-cta {
  padding: 9.6rem 0;
}

.brown {
  color: #45260a !important;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-color: #e67e22;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67);

  border-radius: 1rem;
  height: 50rem;

  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;

  margin-bottom: 4.8rem;
}
.cta-image-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.336),
      rgba(238, 102, 118, 0.329)
    ),
    url("../../content/img/eating.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;

  background-color: #fdf2e9;
  border-radius: 1rem;
  border: none;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;

  background-color: #fdf2e9;
  border-radius: 1rem;
  border: none;
  color: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form button {
  border: none;
  background-color: #45260a;
  color: #fdf2e9;
  font-weight: 600;
  padding: 1.2rem;
  align-self: end;

  border-radius: 0.7rem;
}

.cta-form button:hover {
  background: #fdf2e9;
  color: #45260a;

  cursor: pointer;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.562);
}
