.feature-icon {
  color: #f19f57;

  padding: 1em;
  height: 5rem;
  width: 5rem;

  background-color: #fdf2e9;
  border-radius: 50%;

  margin-bottom: 2rem;
}
.feature-title {
  font-size: 3rem;
  font-weight: 600;

  margin-bottom: 1.6rem;
}
.feature-description {
  font-size: 2rem;
  line-height: 1.8;
}

.margin-bottom-9 {
  margin-bottom: 9.6rem;
}
